<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agriculture Gateway</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>

<div style="width: 100%;">

    <div>

    
            <nav id="navbar">
                <div id="logo">
                    <img src="../images/homepage_images/farmer_PNG59.png" alt="Farmers portal">
                </div>
                <ul style="justify-content: space-around;align-items: center;">
                    <li class="item"><a href="#home">Home</a></li>
                    <li class="item"><a href="#services-container">Services</a></li>
                    <li class="item"><a href="/aboutus">About Us</a></li>
                    <li class="item"><a href="/contactus">Contact Us</a></li>
                    <li class="item"><a href="/login">login</a></li>
                    <li class="item"><a href="/register">Register</a></li>
                </ul>
            </nav>


            <section id="home">
                <h1 class="h-primary">Welcome to  Swadesh</h1>
                <p>Come expolre the new experience of agriculture...</p>
                 <p>#Jai Javan Jai Kisan</p>
            </section>
    </div>

    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box" style="width:30%">
               <a href="/profile"><img src="../images/homepage_images/fertilizers.webp" alt=""></a> 
                <h2 class="h-secondary center">Buy Fertilizers</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
            <div class="box" style="width:30%">
                <a href="/insert_product"> <img src="../images/homepage_images/crop_images.jpg" alt=""></a>
               
                <h2 class="h-secondary center">Sell products</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
            <div class="box" style="width:30%">
                <a href="/rent_instruments"><img src="../images/homepage_images/Farming_instrumrents.png" alt=""></a>
                
                <h2 class="h-secondary center">Rent Instruments</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
        </div>

        <div id="services" style="display: block;">

            <div class="box">
               <a href="/agri_info"> <img  src="../images/homepage_images/Farming_instrumrents.png" alt=""></a>
               
                <h2 class="h-secondary center">Information about crops</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error
                    voluptas beatae facilis labore, omnis sint quae eum.</p>
            </div>
        </div>
    </section>
   

    

    <footer >
        <div class="footer-content">
            <h3>Swadesh</h3>
            <p>
                The Indian farmer is a living idol of India, as they are the most hardworking farmers around the world & always busy, working hard for their crops, during day and night. 
            </p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Swadesh . designed by <span>AGRO LTD</span></p>
        </div>
    </footer>
</div>
</body>

</html>